$container: 1200px;
$header-nav-fontsize: 12px;
$orange: #ff4200;
$blue: #55a5fe;
$darker-blue:#4386e2;
$light-grey:#dfdfdf;
$grey9:#999;
$grey6:#666;
$grey3:#333;
$greyC:#ccc;
$greyD:#ddd;
$rights-blue:#6a8aec;
$red:#ff0000;
$bg-grey: #F2F2F2;
$main-red: #f24645;